html, body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

body {
  padding-bottom: 60px;
}

h1, .page-title {
  color: #fff;
  text-align: center;
}

.body-wrapper {
  padding: 20px;
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(rgba(116, 116, 116, 0.476), rgba(0, 0, 0, 0.931)), url(images/backgroundimage.jpg);
  background-position: center;
  background-size: cover;
  font-family: "Nunito", sans-serif;
}

.navbar, .search-container, .profile-header, .profile-bio-container {
  margin-bottom: 20px;
}

.content-container, .posts-container, .register-form, .login-form, form {
  background-color: rgba(255, 255, 255, 0.431);
  padding: 20px;
  border-radius: 5px;
  margin: auto;
}

.content-container, .posts-container {
  max-width: 800px;
}

form, .register-form, .login-form {
  width: 70%;
}

form label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.form-input {
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
  width: 100%;
}

.profile-avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin: 20px auto;
}

.profile-bio {
  font-size: 1em;
  color: #333;
}

.search-container {
  display: flex;
  align-items: baseline;
}

.search-container input {
  width: calc(100% - 100px);
  display: inline-block;
  margin-right: 10px;
}

.search-container button {
  display: inline-block;
}

.posts-container, #posts-container {
  display: grid;
  gap: 20px;
  padding: 20px;
}

.posts-container {
  grid-template-columns: repeat(3, 1fr);
}

#posts-container {
  grid-template-columns: repeat(3, 1fr);
}

/* Adjust layout for medium screens */
@media (max-width: 1355px) and (min-width: 901px) {
  .posts-container, #posts-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Adjust layout for small screens */
@media (max-width: 900px) {
  .posts-container, #posts-container {
    grid-template-columns: 1fr;
  }
}

.post-container, .post {
  background-color: #ffffffbf;
  border: 2px solid white;
  color: var(--secondary-text);
  border-radius: 5px;
  padding: 20px;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  background-color: #fff;
  color: var(--secondary-text);
  padding: 10px;
  text-align: left;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  z-index: 1;
}

a {
  text-decoration: none;
}

.button, .btn, .btn-dark, .form-btn {
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  margin: 10px;
  color: black;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  border: 1px solid transparent;
  transition: background-color 0.3s, color 0.3s;
}

.button:hover, .btn:hover, .btn-dark:hover, .form-btn:hover {
  background-color: black;
  color: #fff;
  cursor: pointer;
}