html, body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

body {
  padding-bottom: 60px; /* Ensure content isn't hidden under the footer */
}

h1 {
  color: #fff;
}

.body-wrapper {
  padding: 20px;
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(rgba(116, 116, 116, 0.476), rgba(0, 0, 0, 0.931)),
    url(images/backgroundimage.jpg);
  background-position: center;
  background-size: cover;
  font-family: "Nunito", sans-serif;
}

.register-form, .login-form, form {
  background-color: rgba(255, 255, 255, 0.431);
  padding: 20px;
  border-radius: 5px;
  width: 70%;
  margin: auto;
}

.form-input {
  margin: auto;
  margin-top: 5px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: none;
  padding: 10px;
}

.form-btn, .btn, .btn-dark, .footer-button {
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  margin: 10px;
  color: black;
}

.form-btn:hover, .btn:hover, .btn-dark:hover, .footer-button:hover {
  background-color: black;
  color: #fff;
}

a {
  text-decoration: none;
}

.footer {
  background-color: #fff;
  color: var(--secondary-text);
  padding: 10px;
  text-align: left;
  position: fixed; /* Fixes the footer at the bottom of the viewport */
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px; /* Match this height with the actual height of your footer */
  z-index: 1; /* Ensure the footer stays on top of other content */
}

/* POST */ /* Add these styles to your stylesheet.css */

/* Default grid layout for large screens */
#posts-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns by default */
  gap: 20px; /* Space between posts */
  padding: 20px;
}

/* Adjust layout for medium screens */
@media (max-width: 1355px) and (min-width: 901px) {
  #posts-container {
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
  }
}

/* Adjust layout for small screens */
@media (max-width: 900px) {
  #posts-container {
    grid-template-columns: 1fr; /* 1 column */
  }
}

/* Adjust margin and padding for better spacing */
.post {
  background-color: #ffffffbf;
  border: 2px solid white;
  color: var(--secondary-text);
  border-radius: 5px;
  padding: 20px;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional shadow for better visibility */
  display: flex;
  flex-direction: column;
  align-items: center;
}